bcrypt           
cryptography     
fastapi          
joblib           
jose             
jwt              
matplotlib       
numpy            
packaging       
pandas           
pillow           
pip              
pony             
psycopg2         
pyasn1           
pycparser       
pydantic         
pydantic_core    
pyparsing        
python-dateutil  
python-decouple
python-jose      
pytz             
reportlab        
scikit-learn     
scipy            
typing_extensions
uvicorn     
axios
python-dotenv